* {
  padding: 0;
  margin: 0;
}

nav {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 5px;
  padding-bottom: 5px;
  height: 8%;
  width: 100%;
  background-color: darkslategrey;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
}
.menu {
  list-style: none;
  display: flex;
  align-items: center;
  width: 100%;
  color: white;
}
.menu-item {
  padding-left: 20px;
  padding-right: 20px;
}

.games {
}

.News {
}

.support {
  margin-left: auto;
}
.logo {
  height: 75px;
}
.hero {
  max-width: 100%;
  overflow: hidden;
}
.game-stuff {
  height: 1000px;
}
